// color palette - these colors will be the color swatches of the Colors section

$color-1: #90CCF4; // light blue
$color-2: #5DA2D5; // blue
$color-3: #F78888; // mauve
$color-4: #F3D250; // yellow
$color-5: #ECECEC; // light grey
$color-6: #ffffff; // white